@font-face {
    font-family: 'Code_Pro_Demo';
    src: url('fonts/Code_Pro_Demo-webfont.woff2') format('woff2'),
        url('fonts/Code_Pro_Demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


html {
    margin: 0;
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    /*overflow:hidden;    */
}


iframe {
    width:560px;
    height:315px;
}

header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
}

#wrapper {
    display:flex;
    align-content: space-around;
}

#video {
    margin-top:60px;
    margin-left:40px;
    margin-right:40px;
    
}

#video2 {
    margin-top:60px;
    
    
}
#titre {
    color: white;
    font-size: 4em;
    padding-top: 10vh;
}

nav {

}

ul {
    color: white;
    list-style: none;
    font-family: 'Code_Pro_Demo', Arial;
    display: flex;
    text-transform: uppercase;

}

li {
    padding-right: 8px;

}


footer {
    background-color: black;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 60px;
    width: 100%;
}


a {
    text-decoration: none;
    color: white;

}

li a:hover {
    background-color: white;
    color: black;
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}




section {
    background-image: url('pics/daniel.png');
    background-size: 100%, 100%;
    width: 100%;
    height: 97vh;
}


p {
    font-family: 'Code_Pro_Demo', Arial;
    margin: 0;
}


@media screen and (max-width: 900px) {
    #titre {
        font-size: 2em;
        padding-top:3vh;
        padding-left:1vh;
        width:20vw;
    }
    
    ul {
        flex-direction:column;
        text-align:right;
        font-size:1.2em;
        border-right : 1px solid white;
        position:relative;
        top:2.5vh;
        right:10px;
    }
    
    section {
    background-image: url('pics/daniel.png');
    background-size: cover;
 background-position: center;
}
    footer {
        display: none;
    }
    
iframe {
    width:560px;
    height:315px;
    margin:0;
}
#video {
    margin:0;
}

#video2 {
    display:none;
}
}
