@font-face {
    font-family: 'Code_Pro_Demo';
    src: url('fonts/Code_Pro_Demo-webfont.woff2') format('woff2'),
        url('fonts/Code_Pro_Demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


html {
    margin: 0;
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    /*overflow:hidden;    */
}

header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
}


#titre {
    color: white;
    font-size: 4em;
    padding-top: 10vh;
}

nav {

}

ul {
    color: white;
    list-style: none;
    font-family: 'Code_Pro_Demo', Arial;
    display: flex;
    text-transform: uppercase;

}

li {
    padding-right: 8px;

}


footer {
    background-color: black;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 60px;
    width: 100%;
}


a {
    text-decoration: none;
    color: white;

}

li a:hover {
    background-color: white;
    color: black;
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}




section {
    background-image: url('pics/daniel.png');
    background-size: 100%, 100%;
    width: 100%;
    height: 97vh;
}

#textbio {
    position: relative;
    top: 30px;
    left: 30px;
    height: 350px;
    
    padding: 25px;
    margin-right: 8vw;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    overflow: scroll;
}

#contact {
    position: relative;
    top: 28vh;
    left: 25vw;
    width: 50vw;
    padding: 25px 25px 25px 25px;
    font-family: verdana;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    overflow: scroll;
}

p {
    font-family: 'Code_Pro_Demo', Arial;
    margin: 0;
}

#contact p {
    color: white;
    text-align: center;
}

#textbio p {
    font-family: verdana;
    color: white;
}

#video {
    position: relative;
    top: 8vh;
    text-align: center;
}

#audio {
    position: relative;
    top: 6vh;
    text-align: center;
}

@media screen and (max-width: 900px) {
    #titre {
        font-size: 2em;
        padding-top:3vh;
        padding-left:1vh;
        width:20vw;
    }
    
    ul {
        flex-direction:column;
        text-align:right;
        font-size:1.2em;
        border-right : 1px solid white;
        position:relative;
        top:2.5vh;
        right:10px;
    }
    
    section {
    background-image: url('pics/daniel.png');
    background-size: cover;
 background-position: center;
}
    footer {
        display: none;
    }
}
